.content {
  height: 415px;
  max-width: 100%;
  overflow-x: hidden;
}

.friend {
  padding: 10px 15px !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: background-color 0.3s;
  color: grey;
}

.friend:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.bold-user {
  font-weight: 500;
  color: black;
}
