.app-header,
.app-header-bars {
  background: var(--bg-navbar);
}

.app-header {
  height: 100vh;
  position: relative;
  z-index: 13;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 1px 1px 0 rgba(0, 0, 0, 0.12) !important;
}

.app-header-bars,
.app-header-bars-fake {
  cursor: pointer;
  padding-top: 0.75rem;
}

.app-header-bars-fake {
  position: absolute;
  z-index: 2;
  padding: 0.75rem 1.05rem;
}

.app-header-title {
  text-align: center;
  color: #6c757d;
}

.app-card {
  background: transparent !important;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 1px 1px 0 rgba(0, 0, 0, 0.12) !important;
}

.app-card i {
  color: #6c757d;
}

.app-header-theme {
  position: absolute;
  bottom: 0;
  left: 2.5px;
}

.app-header-theme > .app-card {
  box-shadow: none !important;
}
