.about-card {
  height: 100px;
  width: 100px;
  float: left;
  margin: 15px;
  overflow: hidden;
}

.about-pic,
.about-pic-overlay-trigger {
  border: 0;
  transition: all 0.3s;
  background: var(--bg-contact-body) !important;
}

.about-pic-overlay-trigger {
  opacity: 50%;
  filter: blur(2px);
}

.about-delete-pic-icon {
  height: 40px !important;
  width: 40px !important;
  border-radius: 50% !important;
  padding: 0 !important;
}

.about-title {
  font-size: 0.9rem !important;
  text-transform: uppercase;
}
