.about-card {
  position: absolute;
  z-index: 3;
  margin-top: -180px;
  background: var(--bg-contact-body) !important;
  color: var(--color-default) !important;
}

.about-pic,
.about-pic-overlay-trigger {
  height: 500px;
  border: 0;
  transition: all 0.3s;
  background: var(--bg-contact-body) !important;
}

.about-pic-overlay-trigger {
  opacity: 80%;
  filter: sepia(75%) saturate(290%) brightness(70%) hue-rotate(180deg);
}

.about-edit-pic-icon {
  height: 60px !important;
  width: 60px !important;
  border-radius: 50% !important;
  padding: 0 !important;
}

.about-title {
  font-size: 0.9rem !important;
  text-transform: uppercase;
}
