.circle {
  height: 120px;
  width: 120px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  color: #8e24aa;
  margin: auto;
  padding-top: 25px;
  font-size: 2rem !important;
}
