.home,
.home-page {
  position: absolute;
  z-index: 2;
}

.header {
  background: #191a1e !important;
}

.home-logo {
  font-family: 'Grand Hotel', cursive;
  color: white !important;
  font-size: 2.8rem !important;
}
