[data-theme='light'] {
  --color-default: hsl(240, 8%, 12%);
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(240, 8%, 12%);
  --bg-default: hsl(0, 0%, 100%);
  --bg-navbar: hsl(0, 0%, 95%);
  --bg-contact-body: hsla(0, 0%, 95%, 1);
  --bg-contact-body-link: #6c757d;
  --bg-contact-body-hr: #6c757d;
  --bg-textarea: hsl(240, 1%, 48%);
}

[data-theme='dark'] {
  --color-default: hsl(0, 0%, 100%);
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(240, 8%, 12%);
  --bg-default: hsl(240, 8%, 12%);
  --bg-navbar: hsl(240, 6%, 15%);
  --bg-contact-body: hsla(240, 6%, 15%, 1);
  --bg-contact-body-link: #6c757d;
  --bg-contact-body-hr: rgb(76, 117, 242);
  --bg-textarea: hsl(240, 7%, 9%);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw !important;
  height: 100vh !important;
  overflow: hidden !important;
  font-size: 2rem !important;
  color: var(--color-default) !important;
  user-select: none;
}

.md-form {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
