.input,
.input-area {
  cursor: pointer;
  transition: all 0.3s;
  border-bottom: 1px solid transparent !important;
  font-weight: 300 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.input {
  color: var(--color-white) !important;
  font-size: 2rem !important;
}

.input-area {
  color: var(--color-default) !important;
  font-size: 0.9rem !important;
}

.input:hover,
.input-area:hover {
  border-bottom: 1px solid #ced4da !important;
}
